.wrapper {
  max-width: calc(768px + 16px * 2);
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 16px;
}

.login-form-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
