.app h2 {
  color: rgba(0, 0, 0, .85);
  font-family: Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 1.6em 0 .6em;
  font-weight: 500;
  clear: both;
}

.app .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}
.app .table-header {
  display: flex;
  justify-content: space-between;
}
.app .table-header .ant-table-title {
  font-size: 16px;
}

.app .table-header .table-header-menu{
  display: flex;
  justify-content: space-between;
}

.app .table-header .table-header-menu .menu-item{
  padding: 16px 8px;
}
